section.intro
  //- h1 #[span.blue CSS] #[span.red Flexbox]
  .logo
    include css-flexbox.html
  a(href='https://github.com/haishanh/flexy', class='forkme')
    include github-icon
    | Fork me on Github