doctype html
html
  head
    title Demo
    link(rel='stylesheet', href='style.css')
  body
    main
      - var txts = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven']
      each item in data
        .description!= item.description
        .compare
          //.lefthead
          //  p CSS
          //.righthead
          //  p flexbox
          .left
            pre!= item.left
          .right
            each txt in txts
              .box= txt