mixin right_box(cls)
  - var n = 1
  //- var txts = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
  .right.container(class=cls)
    while n <= 8
      .item= n++

doctype html
html
  head
    title Demo
    link(rel='stylesheet', href='style.css')
  body
    include intro
    include main
    include footer
