.description {
  width: 600px;
  margin: 0 auto;
}

.compare {
  width: 800px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: #eee;
}

.lefthead {
  flex-basis: 33%;
  background: #ddd;
}
.righthead {
  flex-basis: 67%;
  text-align: right;
}
.left {
  pre {
    margin: 0;
    background: none;
  }
  display: flex;
  justify-content: flex-start;
  background: #ddd;
  flex-basis: 33%;
}
.right {
  display: flex;
  flex-basis: 67%;
  background: #70F770;
}

.item {
  //width: 40px;
  //height: 40px;
  background: tomato;
  border: 1px solid #333;
}

.toc {
  display: none;
  position: fixed;
  width: 200px;
  top: 100px;
  left: 0;
  li {
    list-style: none;
  }
  ul {
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .toc {
    display: block;
  }
}

@import '_flexcomp'