$color-link: #1e79e0;
$color-link-hover: #e42b2b;

.description {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 25px;
}

.compare {
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  @media only screen and (max-width: 500px) {
    flex-direction: column;
    height: auto;
  }
}

.lefthead {
  flex-basis: 33%;
  background: #ddd;
}
.righthead {
  flex-basis: 67%;
  text-align: right;
}
.left {
  pre {
    margin: 0;
    background: none;
    font-size: 85%;
  }
  display: flex;
  justify-content: flex-start;
  background: rgba(0,0,0,0.04);
  flex: 0 0 33%;
}
.right {
  display: flex;
  flex:0 0 67%;
  background: #70F770;
}

.item {
  //width: 40px;
  //height: 40px;
  color: white;
  border: 1px solid #333;
  &:nth-child(1) {
    background: #f00;
  }
  &:nth-child(2) {
    background: #a50;
  }
  &:nth-child(3) {
    background: #5a0;
  }
  &:nth-child(4) {
    background: #0f0;
  }
  &:nth-child(5) {
    background: #0a5;
  }
  &:nth-child(6) {
    background: #05a;
  }
  &:nth-child(7) {
    background: #00f;
  }
  &:nth-child(8) {
    background: #00a;
  }
}

body {
  font-family: $font-chn;
  // background: #efede4;
}

footer {
  text-align: center;
  padding: 20px 0;
  color: #777;
  &:hover {
    span {
      color: red;
    }
  }
}

// intro
.intro {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  h1 {
    font-weight: 100;
    font-size: 45px;
    margin: 0;
  }
  .red {
    color: #fd6565;
  }
  .blue {
    color: #009dff;
  }
}

// header anchor

h2, h3 {
  position: relative;
  .anchor {
    color: #0cc;
    padding-right: 5px;
  }
}

h2, h2 .anchor {
  line-height: 30px;
}

h3, h3 .anchor {
  line-height: 20px;
}

// image

p > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

// link

a {
  color: $color-link;
  &:hover {
    text-decoration: none;
    color: $color-link-hover;
  }
}

.forkme {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  margin-top: 25px;
  color: #000;
  border: 1px solid #000;
  border-radius: 6px;
  font-weight: 300;
  padding: 10px;
  &:hover {
    background: #fff;
    color: #000;
  }
}

.toc {
  display: none;
  position: fixed;
  width: 180px;
  top: 140px;
  left: 0;
  font-weight: 300;
  li {
    list-style: none;
    line-height: 25px;
  }
  ul {
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
  }
  a {
    color: #333;
    &:hover {
      color: $color-link-hover;
    }
    &.active {
      color: #0cc;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .toc {
    display: block;
  }
}

@import '_flexcomp'
