// Headings

h1 { font-size: 30px; }
h2 { font-size: 21px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 11px; }

// Lists

// Code

code {
  font-size: 85%;
  line-height: 20px;
  padding: 3px;
  border-radius: 3px;
  font-family: $font-mono;
}

p > code {
  background: rgba(0,0,0,0.04);
}

pre {
  font-family: $font-mono;
  background: rgba(0,0,0,0.04);
  border-radius: 5px;
  padding: 15px;
}